*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/misc.xml
.idea/markdown-exported-files.xml
.idea/markdown-navigator.xml
annotation/libs/
api/libs/
api/src/main/res/drawable/
app/libs/
compile/libs/
